<!DOCTYPE html>
<html ng-app="mdPickers">
<head>
  <meta charset="UTF-8">
  <title>mdp example</title>
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="../dist/mdPickers.css" />
</head>
<body>
<form name="dateTimePicker">
  <div layout="row" layout-align="space-around center" flex>
    <input name="clock24" placeholder="24 Hours Autoswitch" type="text" ng-model="dateTimePicker.placeholder"
           mdp-auto-switch="true" mdp-time-picker required>
    <input name="clock12" placeholder="12 Hours" type="text" ng-model="dateTimePicker.placeholder2" mdp-ampm="true"
           mdp-time-picker>
    <input name="calendar" placeholder="Date picker" type="text" ng-model="dateTimePicker.placeholder3" mdp-date-picker
           required>
  </div>
</form>

<!-- bower:js -->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/angular-messages/angular-messages.js"></script>
<script src="../bower_components/angular-material/angular-material.js"></script>
<script src="../bower_components/moment/moment.js"></script>
<!-- endbower -->
<script src="../dist/mdPickers.js"></script>
</body>
</html>